li {
border: 1px, solid black;
/* background-color: rgb(78, 42, 132); */
color:black;
list-style-position: inside;

margin: 5px;
}

li:hover{
    cursor: pointer;
}

ul {
    width: 30%;
    list-style-type: none;
}